.addmissmate_container {
  background-color: #212832;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: auto;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 80%;
}

.btn_primary_add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcda06;
  border: none;
  border-radius: 3px;
  height: 3rem;
  margin: 10px 0px;
  width: 75%;
}

.btn_primary_add:active {
  background-color: #c7ad06;
}

.btn_primary_add,
a {
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: bold;
}

.btn_add_quantity {
  display: flex;
  gap: 10px;
  width: 100%;
}

.select_box_quantity {
  appearance: none;
  background-color: #fcda06;
  border: none;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-family: "Helvetica Now Text";
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 10px 0px;
  padding: 8px 8px 8px 10px;
  outline: none;
  text-transform: uppercase;
  width: 20%;
}

.btn_back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcda06;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.move_left_arrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

/*---------------------inputs styles---------------------*/

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 100%;
}

.inputBox input {
  background-color: #212832;
  color: rgb(217, 209, 209);
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1em;
  outline: none;
  border-bottom: 2px solid white;
}

.options {
  display: flex;
  justify-content: centerd;
}

.select_box {
  border: none;
  appearance: none;
  padding: 8px 8px 8px 10px;
  color: rgb(215, 211, 211);
  background-color: #3d495b;
  font-size: 1em;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Helvetica Now Text";
  width: 235px;
}
