* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  src: url("../public/fonts/Helvetica/HelveticaNowText-Light.ttf");
  font-family: "Helvetica Now Text";
}
:root {
  padding: 10px;
  background-color: #f1f1f1;
  font-family: "Helvetica Now Text";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
